<p><%= @result %></p>
<table>
  <tr>
    <td>Title </td>
    <td >Artist </td>
    <td>Spotify Link </td>
  </tr>
  <tr>
    <td> <%= @title %> </td>
    <td> <%= @artist %> </td>
    <td> <%= @spotify %> </td>
  </tr>
</table>
