<h1> search for a song </h1>
<%= form_for @query, url: search_queries_path, method: :get do |f| %>
	<div class="input-field">
    <%= f.text_field :title, placeholder: "Enter a song title" %>
	</div>

	<div class="input-field">
  	<%= f.submit 'search!' %>
	</div>
<% end %>
